<header role="banner">
	<div class="layout-container">
		<marquee direction="left" height="40" width="100%" bgcolor="white">
			05:28:44 PM &nbsp; &nbsp; >>>&nbsp;&nbsp; Corn&nbsp;
			<span>322^0-3^0&nbsp;&nbsp;</span>
			Soyabean&nbsp;
			<span>899^0-0^6&nbsp;&nbsp;</span>
			Live Cattle &nbsp;<span>100.425P&nbsp;&nbsp;</span>
			Wheat &nbsp;<span>527^4-0^2&nbsp;&nbsp;</span>
			ICE Cotton No.2&nbsp;
			<span>60.34-0.35&nbsp;&nbsp;</span>
			Milk &nbsp;<span>24.41P&nbsp;&nbsp;</span>
		</marquee>
		<div class="main-navigation">
			{{ page.main_navigation }}
		</div>
		<div class="second-nav">
			<div class="icons">
				<div class="menu-icon"></div>
				<div class="search-icon"></div>
			</div>
			<div class="logo-img"></div>
			<div class="temperature"></div>
		</div>
		<div class="third-nav">
			<p style="color: #C9283F">News</p>
			<p style="color: #295D83">Market</p>
			<p style="color: #F0940B">Weather</p>
			<p style="color: #328E65">Crops</p>
			<p style="color: #109AF5">Buisness</p>
			<p style="color: #540032">Machinary</p>
			<p style="color: #AE3C07">Livestock</p>
			<p style="color: #333333">Fj Feild Days</p>
		</div>
	</div>
</header>
<div class="layout-container">
	<main role="main">
		<div class="main-content-one">
			<div class="left">
				<div class="upper">
					<div class="top-stories">
						<p style="margin-bottom: 20px;">TOP STORY</p>
						<p>
							<div class="photo"></div>
						</p>
					</div>
					<div class="upper-content">
						<p>FARM JOURNAL EVENTS 15:02PM Jul 28, 2020</p>
						<h1>USDA Sec. Perdue Confirms Participation in Farm Journal Field Days</h1>
						<p>USDA Secretary Sonny Perdue to speak at Farm Journal Field Days.</p>
						<span>...</span>
					</div>
				</div>
				<div class="bottom">
					<p class="farmon-heading">#FARMON</p>
					<div class="farmon-bottom">
						<div class="farmon-img"></div>
						<div class="farmon-content">
							<p>
								<span>SARA SCHAFER</span>
								&nbsp;Sara Schafer</p>
							<p class="farmon-content-head">7 Must-See Livestock Speakers at Farm Journal Field Days</p>
							<p class="farmon-para">By Mary Magnuson In the old days—like last year—you’d have to pack your boots, raincoat and sunscreen and take three days away from your farm to get the cutting-edge information</p>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="news">
					<p class="news-head">FARM JOURNAL EVENTS</p>
					<p class="news-heading">Crop Tour 2020 is On, Virtual Meetings Open to All</p>
				</div>
				<div class="news">
					<p class="news-head" style="color: #109AF5">BUSINESS</p>
					<p class="news-heading">Using Cover Crops for Feed Production</p>
				</div>
				<div class="news">
					<p class="news-head">LIVESTOCK</p>
					<p class="news-heading">Integrity Beef Sustainability Pilot Project Completes Two-Year Study</p>
				</div>
				<div class="news">
					<p class="news-head">FARM JOURNAL EVENTS</p>
					<p class="news-heading">USDA Sec. Perdue Confirms Participation in Farm Journal Field Days</p>
				</div>
			</div>
			<div></main>
			<div class="main-content-two">
				<div class="news-upper">
					<div class="news-upper-one">
						<div class="news-upper-box-one">
							<p style="color: #109AF5" class="news-upper-box-one-head">BUISNESS</p>
							<p class="news-upper-box-one-time">02:09PM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">3 Things to Know About Aftermarket Additives</p>
							<p>Farmers are always focused on running their operations efficiently, especially
								<span>...</span>
							</p>
						</div>
						<div class="news-upper-box-two">
							<p class="news-upper-box-one-time">01:40PM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">Using Cover Crops for Feed Production</p>
							<p>Along with a slew of environmental benefits, cover crops offer</p>
							<span>...</span>
							<div class="grey-box">
								<p class="news-upper-box-one-time">2:40 PM JUL 30, 2020</p>
								<p class="news-upper-box-one-heading">Lee Brice to Headline #FarmON Benefit Concert</p>
								<p class="sponsered">SPONSERED</p>
							</div>
						</div>
						<div class="news-upper-box-three">
							<p class="news-upper-box-one-time">01:36PM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">A Look Behind the Seed Scene</p>
							<p>After consolidation, seed companies prepare for pressures and new paths</p>
							<span>...</span>
						</div>
					</div>
					<div class="news-upper-one">
						<div class="news-upper-box-ssecond-one">
							<p style="color: #328E65" class="news-upper-box-one-head">CROPS</p>
							<p class="news-upper-box-one-time">02:22PM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">Ear Aches: Banana Ear, Snapped Corn and Late Corn To Blame</p>
							<p>With corn pollination over for much of the crop, it’s</p>
							<span>...</span>
						</div>
						<div class="news-upper-box-two">
							<p class="news-upper-box-one-time">01:49PM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">UFarm Journal Test Plots: Psst Your Corn Has Something to Share</p>
							<p>Study leaf structure and ear type to refine hybrid selection</p>
							<span>...</span>
							<div class="grey-box">
								<p class="news-upper-box-one-time">2:40 PM JUL 30, 2020</p>
								<p class="news-upper-box-one-heading">A Music Experience for the Farming Community</p>
								<p class="sponsered">SPONSERED</p>
							</div>
							<div class="news-upper-box-three">
								<p class="news-upper-box-one-time">01:10PM JUL 29, 2020</p>
								<p class="news-upper-box-one-heading">Dicamba’s Future Under New Pressure</p>
								<p>The herbicide’s future rests in EPA’s hands</p>
								<span>...</span>
							</div>
						</div>
					</div>
					<div class="news-upper-one">
						<div class="news-upper-box-one">
							<p style="color: #AE3C07" class="news-upper-box-one-head">LIVESTOCK</p>
							<p class="news-upper-box-one-time">11:09AM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">It's a piece of cake!</p>
							<p>Leigh is now available for your virtual events! Find out
								<span>...</span>
							</p>
						</div>
						<div class="news-upper-box-two">
							<p class="news-upper-box-one-time">09:14AM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">Integrity Beef Sustainability Pilot Project Completes Two-Year Study</p>
							<p>The Integrity Beef Sustainability Pilot Project completed its innovative two-year</p>
							<span>...</span>
							<div class="grey-box">
								<p class="news-upper-box-one-time">6:32 PM JUL 30, 2020</p>
								<p class="news-upper-box-one-heading">Lee Brice to Headline #FarmON Benefit Concert</p>
								<p class="sponsered">SPONSERED</p>
							</div>
						</div>
						<div class="news-upper-box-three">
							<p class="news-upper-box-one-time">08:39AM JUL 29, 2020</p>
							<p class="news-upper-box-one-heading">One Month Left to Apply for Coronavirus Payments</p>
							<p>To date, $1.286 billion have been paid to dairy farmers.</p>
							<span>...</span>
						</div>
					</div>
				</div>
				<div class="news-bottom">
					<div class="news-bottom-one">
						<div class="news-bottom-box-one">
							<p style="color: #109AF5" class="news-bottom-box-one-head">POLICY</p>
							<p class="news-bottom-box-one-time">03:02PM JUL 28, 2020</p>
							<p class="news-bottom-box-one-heading">USDA Sec. Perdue Confirms Participation in Farm Journal Field Days</p>
							<p>USDA Secretary Sonny Perdue to speak at Farm Journal Field</p>
							<span>...</span>
						</div>
						<div class="news-bottom-box-two">
							<p class="news-bottom-box-one-time">02:22PM JUL 28, 2020</p>
							<p class="news-bottom-box-one-heading">Carbon Goal Will Create Undue Hardships For Farmers, Congressman Says</p>
							<p>Rep. Austin Scott (R-GA) said he will not support an</p>
							<span>...</span>
						</div>
						<div class="news-bottom-box-three">
							<p class="news-bottom-box-one-time">001:08PM JUL 28, 2020</p>
							<p class="news-bottom-box-one-heading">Grassley: Biofuels May Have to Rely on Ag Secretary Perdue for Relief</p>
							<p>The U.S. biofuel industry may have to depend on Agriculture</p>
							<span>...</span>
						</div>
					</div>
					<div class="news-bottom-one">
						<div class="news-bottom-box-second-one">
							<p style="color: #01406C" class="news-bottom-box-one-head">MARKETS</p>
							<p class="news-bottom-box-one-time">08:00AM JUL 30, 2020</p>
							<p class="news-bottom-box-one-heading">Vaclavik Audio 7/30/20</p>
							<p>Subscribe to the Grain Markets and Other Stuff podcast on
								<span>...</span>
							</p>
						</div>
						<div class="news-bottom-box-second-two">
							<p class="news-bottom-box-one-time">09:34AM JUL 29, 2020</p>
							<p class="news-bottom-box-one-heading">Sideways Markets Can Still Provide Opportunities To Capture Profits</p>
							<p>Missed a recent article by Jon Scheve? Get it sent
								<span>...</span>
							</p>
						</div>
						<div class="news-bottom-box-second-three">
							<p class="news-bottom-box-one-time">09:26AM JUL 29, 2020</p>
							<p class="news-bottom-box-one-heading">Mid-week wearies</p>
							<p>It would seem that we have another case of mid-week
								<span>...</span>
							</p>
						</div>
					</div>
					<div class="news-bottom-one">
						<div class="news-bottom-box-one">
							<p style="color: #4284B2" class="news-bottom-box-one-head">WEATHER</p>
							<p class="news-bottom-box-one-time">11:36AM JUL 29, 2020</p>
							<p class="news-bottom-box-one-heading">Weather Will Be a "Mixed Bag" This Week</p>
							<p>There are two domes of high pressure. One is cool</p>
							<span>...</span>
						</div>
						<div class="news-bottom-box-two">
							<p class="news-bottom-box-one-time">03:36PM JUL 24, 2020</p>
							<p class="news-bottom-box-one-heading">AgDay Weather: Relief Could Come Monday and Tuesday</p>
							<p>Tropical Storm Hannah is expected to bring some heavy rains</p>
							<span>...</span>
						</div>
						<div class="news-bottom-box-three">
							<p class="news-bottom-box-one-time">02:05PM JUL 23, 2020</p>
							<p class="news-bottom-box-one-heading">AgDay Weather: “Feels Like” July</p>
							<p>“Into Friday afternoon, [we see] upper 80s into much of</p>
							<span>...</span>
						</div>
					</div>
				</div>
			</div>

			<footer role="contentinfo">
				<div class="footer">
					<p class="footer-para">AgWeb is powered by<span>
							Farm Journal</span>
					</p>
					<div class="logo">
						<div class="line-one">
							<div class="logo-one"></div>
							<div class="logo-two"></div>
							<div class="logo-three"></div>
							<div class="logo-four"></div>
							<div class="logo-five"></div>
							<div class="logo-six"></div>
							<div class="logo-seven"></div>
							<div class="logo-eight"></div>
						</div>
						<div class="line-one">
							<div class="logo-nine"></div>
							<div class="logo-ten"></div>
							<div class="logo-eleven"></div>
							<div class="logo-twelve"></div>
							<div class="logo-thirteen"></div>
							<div class="logo-fourteen"></div>
							<div class="logo-fifteen"></div>
							<div class="logo-sixteen"></div>
						</div>
						<div class="line-one">
							<div class="logo-seventeen"></div>
							<div class="logo-eighteen"></div>
							<div class="logo-ninteen"></div>
							<div class="logo-twenty"></div>
							<div class="logo-twentyone"></div>
							<div class="logo-twentytwo"></div>
							<div class="logo-twentythree"></div>
							<div class="logo-twentyfour"></div>
						</div>
					</div>
					<div class="info">
						<div class="gen-info">
							<div class="gen-info-logo"></div>
							<div class="gen-info-content">
								<p>AgWeb is the farmer’s source for agriculture news online. Stay informed with daily content from across Farm Journal's properties. We'll supply the latest news on crop and livestock farming, live future trading information, weather forecasts, market analysis, ag policy and more.</p>
							</div>
						</div>
						<div class="useful-links">
							<p class="useful-links-heading">Useful Links</p><br><br>
							<a href="" class="a-tag">About Us</a><br><br>
							<a href="">Newsletters</a><br><br>
							<a href="">Events</a><br><br>
							<a href="">Farm Journal Store</a><br><br>
							<a href="">Advertise</a><br><br>
							<a href="">Careers</a><br><br>
							<a href="">Contact</a><br><br>
							<a href="">Privacy Policy</a><br><br>
							<a href="">Do Not Sell My Personal Information</a><br><br>
							<a href="">Sitemap</a><br><br>
							<a href="">Terms & Conditions</a><br><br>
						</div>
						<div class="editor">
							<div class="email">
								<p class="useful-links-heading">Editorial Requests</p>
								<p><br>
									<a href="">editors@agweb.com</a>
								</p>
							</div>
							<p class="useful-links-heading">Letter to the Editor</p>
						</div>
					</div>
				</div>
			</footer>

		</div>
		{# /.layout-container #}
