.main-content-one{
    width: 80%;
    height: 450px;
    margin-left: 130px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 65%;
    height: 100%;
}
.upper{
    width: 100%;
    height: 50%;
    display: flex;
}
.top-stories{
    width: 30%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.photo{
    width: 100%;
    height: 92%;
    background: url('../images/top-stories.png');
    background-size: cover;
}
.upper-content{
    width: 70%;
    height: 100%;
    padding-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 60px;
    p{
        margin-bottom: 10px;
        font-size: 15px;
    }
    h1{
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 600;
    }
    span{
        color: #328E65;
        font-size: 15px;
    }

}
.bottom{
    width: 100%;
    height: 50%;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .farmon-heading{
        font-weight: 400;
    }
    .farmon-bottom{
        width: 100%;
        height: 90%;
        display: flex;
    }
    .farmon-img{
        width: 25%;
        height: 100%;
        background: url('../images/farmon.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .farmon-content{
        width: 60%;
        height: 100%;
        margin-left: 10px;
        p{
            margin-bottom: 6px;
        }
        .farmon-para{
            color: #9F9F9F;
            line-height: 20px;
        }
        span{
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 13px;
        }
        .farmon-content-head{
            font-size: 18px;
            font-weight: bold;
        }
    }
}
.right{
    width: 25%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .news{
        width: 100%;
        height: 25%;
        border-bottom: 1px solid rgb(197, 187, 187);
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .news-head{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .news-heading{
        font-size: 18px;
        font-weight: bold;
    }
}
.main-content-two{
    width: 80%;
    height: 1500px;
    // background-color: lightcoral;
    margin-top: 70px;
    margin-left: 130px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .news-upper{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        .news-upper-one{
            width: 30%;
            height: 100%;
            .news-upper-box-one{
                width: 100%;
                height: 25%;
                border-bottom: 1px solid #9F9F9F;
            }
            .news-upper-box-one-time{
                font-size: 14px;
            }
            .news-upper-box-one-head{
                margin-bottom: 15px;
                font-weight: bold;
            }
            .news-upper-box-one-heading{
                font-size: 23px;
                font-weight: bold;
            }
            p{
                margin-bottom: 7px;
                line-height: 25px;
            }
            span{
                color: #328E65;
            }
        }
        .news-upper-box-two{
            width: 100%;
            height: 48%;
            border-bottom: 1px solid #9F9F9F;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .grey-box{
            width: 100%;
            height: 40%;
            background-color: #F4F3EB;
            padding-left: 5px;
        }
        .sponsered{
            font-size: 10px;
            margin-left: 78%;
            margin-top: 6%;
            font-weight: bolder;
        }
        .news-upper-box-three{
            // width: 100%;
            // height: 27%;
            padding-top: 30px;
            // padding-bottom: 20px;
            border-bottom: 1px solid #9F9F9F;
        }
        .news-upper-box-ssecond-one{
            width: 100%;
            height: 30%;
            border-bottom: 1px solid #9F9F9F;
        }
    }
    .news-bottom{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        .news-bottom-one{
            width: 30%;
            height: 100%;
            padding-top: 40px;
            .news-bottom-box-one{
                width: 100%;
                height: 30%;
                border-bottom: 1px solid #9F9F9F;
            }
            .news-bottom-box-one-head{
                margin-bottom: 15px;
                font-weight: bold;
            }
            .news-bottom-box-one-time{
                font-size: 14px;
            }
            .news-bottom-box-one-heading{
                font-size: 23px;
                font-weight: bold;
            }
            p{
                margin-bottom: 5px;
                line-height: 23px;
            }
            span{
                color: #328E65;
            }
            .news-bottom-box-two{
                width: 100%;
                height: 40%;
                border-bottom: 1px solid #9F9F9F;
                padding-top: 60px;
                padding-bottom: 60px;
            }
            .news-bottom-box-three{
                width: 100%;
                height: 30%;
                border-bottom: 1px solid #9F9F9F;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .news-bottom-box-second-one{
                width: 100%;
                height: 25%;
                border-bottom: 1px solid #9F9F9F;
            }
            .news-bottom-box-second-two{
                width: 100%;
                height: 36%;
                border-bottom: 1px solid #9F9F9F;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .news-bottom-box-second-three{
                width: 100%;
                height: 27%;
                border-bottom: 1px solid #9F9F9F;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-content-one{
        width: 95%;
        margin-left: 2.5%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .upper{
        height: auto;
        flex-direction: column;
    }
    .top-stories{
        width: 100%;
    }
    .photo{
        height: 300px;
    }
    .upper-content{
        width: 100%;
        padding-left: 0;
    }
    .bottom{
        height: auto;
        padding-top: 20px;
        .farmon-heading{
            font-weight: 400;
        }
        .farmon-bottom{
            height: auto;
            flex-direction: column;
        }
        .farmon-img{
            width: 100%;
            height: 300px;
        }
        .farmon-content{
            width: 100%;
            margin-left: 0;
        }
    }
    .right{
        width: 100%;
        .news{
            height: auto;
        }
    }

    .main-content-two{
        width: 95%;
        height: auto;
        margin-top: 20px;
        margin-left: 2.5%;
        .news-upper{
            height: auto;
            display: flex;
            flex-direction: column;
            .news-upper-one{
                width: 100%;
            }
            .news-upper-box-two{
                height: auto;
            }
            .grey-box{
                height: auto;
            }
            // .sponsered{
            //     font-size: 10px;
            //     margin-left: 78%;
            //     margin-top: 6%;
            //     font-weight: bolder;
            // }
            .news-upper-box-three{
                padding-top: 20px;
            }
            .news-upper-box-ssecond-one{
                height: auto;
            }
        }
        .news-bottom{
            height: auto;
            display: flex;
            flex-direction: column;
            .news-bottom-one{
                width: 100%;
                height: 100%;
                padding-top: 40px;
                .news-bottom-box-one{
                    height: 100%;
                }
                .news-bottom-box-two{
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .news-bottom-box-three{
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .news-bottom-box-second-one{
                    height: auto;
                }
                .news-bottom-box-second-two{
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .news-bottom-box-second-three{
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}